@import "variables.less";

// Index page uses a fixed header with an overlay
body {
  font-size: 14pt;
  @media screen and (max-width: @tablet-size) {
    font-size: 16pt;
  }
}

strong {
  font-weight: 600;
}

.column {
  max-width: 1000px;
  @media screen and (max-width: @desktop-size) {
    // background: blue;
    font-size: 0.75em;
    padding: 0 1em;
  }
}

body.index {
  background: white;
  @media screen and (min-width: @desktop-size) {
    margin-top: 50px;
  }

  header {
    display: none;
    @media screen and (min-width: @desktop-size) {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  section h1,
  section h2 {
    margin-top: 0;
  }

  .sections {
    max-width: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2ch;
    border-bottom: thin dashed #999;
    flex-direction: row;
    @media screen and (max-width: @desktop-size) {
      flex-direction: column-reverse !important;
      padding: 2em 2ch;
    }
  }

  #api-section-list {
    text-align: left;
    list-style-type: none;
  }

  #api-section-list > li::before {
    content: "\2014";
    position: absolute;
    margin-left: -2.5ch;
  }

  .section:last-of-type {
    border-bottom: none !important;
  }
  .section:nth-last-of-type(2n + 1) {
    flex-direction: row-reverse;
  }

  .lead {
    background: linear-gradient(45deg, @mainColor, @secondaryColor);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  }

  .lead-body {
    padding: 5em 0 !important;
    color: white !important;
    max-width: 65ch;
    flex-direction: column;
    border-bottom: none !important;
    margin: 0 auto;
    text-align: center;
  }

  .home-lead-header {
    color: inherit;
    font-size: 2.5em;
    padding: 0 1ch;
  }

  .home-section-content {
    max-width: 60ch;
    @media screen and (max-width: @desktop-size) {
      padding: 0 1em;
    }
  }

  .darkWash {
    background: #3d464f;
    box-shadow: inset 0 30px 30px -30px rgba(0, 0, 0, 0.35),
      inset 0 -20px 30px -30px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    position: relative;
  }

  .window {
    background: white;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 8px 32px rgba(0, 0, 0, 0.12);
    margin: 0 -15px;
    overflow: hidden;
    padding-top: 26px;
    position: relative;

    &::before {
      background: linear-gradient(#f0f0f0, #dedede);
      border-radius: 6px 6px 0 0;
      box-shadow: inset 0 2px 2px -2px white, 0 1px rgba(0, 0, 0, 0.4);
      content: " ";
      display: block;
      height: 25px;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .prism {
      padding: 1ch;
    }
  }

  .section-image {
    max-height: 15em;
    @media screen and (max-width: @desktop-size) {
      margin: 2em;
    }
  }

  .section {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    @media screen and (max-width: 1019px) {
      min-height: none;
      .prose {
        text-align: center;
      }
    }
    @media screen and (min-width: @desktop-size) {
      flex-direction: row;
      justify-content: space-between;
    }
    .prose {
      max-width: 60ch;
    }
  }

  .grayWash > .section {
    @media screen and (min-width: @desktop-size) {
      flex-direction: row-reverse !important;
    }
  }

  section.powered-by {
    padding-bottom: 6em;
    text-align: center;

    .prose {
      max-width: 545px;
      text-align: center;
      margin: 0 auto;
    }

    .logos {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      img {
        height: 100px;
        padding: 14px;
        @media screen and (min-width: @desktop-size) {
          height: 150px;
          padding: 20px;
        }

        &.round {
          height: 106px;
          padding: 11px;
          @media screen and (min-width: @desktop-size) {
            height: 158px;
            padding: 16px;
          }
        }
      }
    }

    .button {
      display: inline-block;
      .headline-font(@size: 17px, @color: @text-color);
      border: solid 1px fadeout(black, 60%);
      border-radius: 6px;
      line-height: 1;
      transition: border 0.1s ease-out, background 0.1s ease-out,
        color 0.1s ease-out;
      padding: 0.65em 1.6em 0.6em;
      margin: 2em;
      display: inline-block;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        color: white;
        background: @hkube-color;
        border-color: @hkube-color;
        text-decoration: none;
      }
    }
  }
}
