@import "variables.less";

// Index page uses a fixed header with an overlay
body {
  font-size: 14pt;
}

body.index {
  background: #f5f6f8;
  @media screen and (min-width: @desktop-size) {
    margin-top: 50px;
  }

  header {
    display: none;
    @media screen and (min-width: @desktop-size) {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  .nav-header {
    z-index: 1;
  }

  section h1,
  section h2 {
    margin-top: 0;
  }

  section.lead {
    .body-font(1.2em);
    text-align: center;
    max-width: 65ch;
    padding: 5em 0;
  }

  .home-lead-header {
    font-size: 2.5em;
    padding: 0 1ch;
  }

  .home-section-content {
    @media screen and (max-width: @desktop-size) {
      padding: 0 1em;
    }
  }

  .grayWash {
    background: #e6e8ec;
    position: relative;
  }

  .darkWash {
    background: #3d464f;
    box-shadow: inset 0 30px 30px -30px rgba(0, 0, 0, 0.35),
      inset 0 -20px 30px -30px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    position: relative;
  }

  .window {
    background: white;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 8px 32px rgba(0, 0, 0, 0.12);
    margin: 0 -15px;
    overflow: hidden;
    padding-top: 26px;
    position: relative;

    &::before {
      background: linear-gradient(#f0f0f0, #dedede);
      border-radius: 6px 6px 0 0;
      box-shadow: inset 0 2px 2px -2px white, 0 1px rgba(0, 0, 0, 0.4);
      content: " ";
      display: block;
      height: 25px;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .prism {
      padding: 1ch;
    }
  }

  .section-image {
    margin: 0 2ch;
    max-width: 40ch;
  }

  .section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1.5em 0;
    min-height: 40vh;
    @media screen and (max-width: 1019px) {
      min-height: none;
      .prose {
        text-align: center;
      }
    }
    @media screen and (min-width: @desktop-size) {
      flex-direction: row;
      justify-content: space-between;
    }
    .prose {
      max-width: 60ch;
      min-width: 45ch;
    }
  }

  .grayWash > .section {
    @media screen and (min-width: @desktop-size) {
      flex-direction: row-reverse !important;
    }
  }

  section.powered-by {
    padding-bottom: 6em;
    text-align: center;

    .prose {
      max-width: 545px;
      text-align: center;
      margin: 0 auto;
    }

    .logos {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      img {
        height: 100px;
        padding: 14px;
        @media screen and (min-width: @desktop-size) {
          height: 150px;
          padding: 20px;
        }

        &.round {
          height: 106px;
          padding: 11px;
          @media screen and (min-width: @desktop-size) {
            height: 158px;
            padding: 16px;
          }
        }
      }
    }

    .button {
      display: inline-block;
      .headline-font(@size: 17px, @color: @text-color);
      border: solid 1px fadeout(black, 60%);
      border-radius: 6px;
      line-height: 1;
      transition: border 0.1s ease-out, background 0.1s ease-out,
        color 0.1s ease-out;
      padding: 0.65em 1.6em 0.6em;
      margin: 2em;
      display: inline-block;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        color: white;
        background: @hkube-color;
        border-color: @hkube-color;
        text-decoration: none;
      }
    }
  }
}
