@import "variables.less";

.prism {
  .code-font();
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  position: relative;
}

/* Comment */
.prism .comment,
.cm-comment {
  color: #999;
}

/* Punctuation */
.prism .punctuation,
.cm-punctuation {
  color: #555;
}

/* Keyword */
.prism .keyword,
.cm-keyword {
  color: #3179E6;
}

/* OperationName, FragmentName */
.prism .constant,
.cm-def {
  color: #3179E6;
}

/* FieldName */
.prism .attr-name,
.cm-property {
  color: #358EE9;
}

/* FieldAlias */
.cm-qualifier {
  color: #1C92A9;
}

/* ArgumentName and ObjectFieldName */
.cm-attribute {
  color: #8B2BB9;
}

/* Number */
.prism .number,
.cm-number {
  color: #B5CEA8;
}

/* String */
.prism .string,
.cm-string {
  color: #CE9167;
}

/* Boolean */
.prism .boolean,
.cm-builtin {
  color: #2659BF;
}

/* EnumValue */
.prism .enum,
.cm-string-2 {
  color: #0B7FC7;
}

/* Variable */
.prism .variable,
.cm-variable {
  color: #397D13;
}

/* Directive */
.prism .function,
.cm-meta {
  color: #B33086;
}

/* Type */
.prism .type-name,
.cm-atom {
  color: #CA9800;
}